<container>
  <!-- Header -->
  <row class="collapse">
    <columns small="12" large="12" class="text-center">
      <center>
        <spacer size="35"></spacer>
        <a href="#"><img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_01.gif"></a>
        <spacer size="10"></spacer>
      </center>
    </columns>
  </row>
  <!-- Horizontal Rule -->
  <row class="collapse">
    <columns small="12" large="12" class="collapse">
      <hr>
    </columns>
  </row>
  <!-- Hero -->
  <row class="collapse">
    <columns>
      <spacer size="15"></spacer>

      <center>
        <p class="text-center" style="font-size:18px;">Welcome [NAME]! Enter to win $10,000—
          <br style="hide-for-small" />and get $40 off each tuxedo rental.</p>
      </center>
      <spacer size="26"></spacer>
    </columns>
  </row>


  <row class="collapse">
    <!-- Column 1 -->
    <columns large="6" small="12">
      <center>
        <callout class="primary">
          <spacer size="15"></spacer>

          <center>
            <img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/17-816507_JABT_JanFeb_Trans40_05.gif" width="236" style="width:236px;max-width:392px">
            <spacer size="15"></spacer>
            <p class="text-center" style="">Be sure to book your tuxedo rentals in-store between 1/1 and 2/28 for a chance to win $10,000 for your perfect honeymoon!</p>
            <!-- Horizontal Rule -->
            <row class="collapse">
              <columns large="4" small="2">&nbsp;</columns>
              <columns large="4" small="8">
                <hr class="">
              </columns>
              <columns large="4" small="2">&nbsp;</columns>
            </row>
            <spacer size="10"></spacer>
            <p class="text-center" style="font-weight:bold;">Make an appointment to arrange a free style consultation!</p>
            <spacer size="15"></spacer>
            <button class="small" href="#">
              MAKE AN APPOINTMENT
            </button>
          </center>
          <spacer size="26"></spacer>
        </callout>
      </center>
    </columns>
    <!-- Column 2 -->
    <columns large="6" small="12">
      <spacer size="15"></spacer>

      <center>
        <img class="text-center retina" src="http://f.e.menswearhouse.com/i/48/2089524253/17-816507_JABT_JanFeb_Trans40_03.jpg" width="300" style="max-width:300px">
      </center>
      <spacer size="26"></spacer>
    </columns>
  </row>

  <!-- Offer -->
  <row>

    <columns large="12" small="12">
      <callout>
        <center>
          <spacer size="35"></spacer>
          <img class="text-center retina" src="http://f.e.menswearhouse.com/i/48/2089524253/17-816507_JABT_JanFeb_Trans40_10.gif" width="430" style="width:430px;max-width:430px">
          <spacer size="25"></spacer>
          <img class="text-center retina" src="http://f.e.menswearhouse.com/i/48/2089524253/17-816507_JABT_JanFeb_Trans40_14.gif" width="152" style="width:152px;max-width:152px">
          <spacer size="25"></spacer>
          <img class="text-center retina" src="http://f.e.menswearhouse.com/i/48/2089524253/17-816507_JABT_JanFeb_Trans40_17.gif" width="430" style="width:430px;max-width:430px">
          <spacer size="35"></spacer>
          <row class="collapse">
            <columns large="3" small="2">&nbsp;</columns>
            <columns large="6" small="8">
              <callout class="small secondary text-center">
                CONFIRMATION ID: XXXXXXXXXX
              </callout>
            </columns>
            <columns large="3" small="2">&nbsp;</columns>
          </row>
          <spacer size="5"></spacer>
          <row class="collapse">
            <columns large="3" small="2">&nbsp;</columns>
            <columns large="6" small="8">
              <p class="text-center" style="border-bottom:2px solid #000; font-weight:bold;"><small>PRINTER-FRIENDLY VERSION &rarr;</small> </p>
              <p class="text-center" style="font-weight:bold;">OFFER ENDS 2/28</p>
              <spacer size="5"></spacer>
            </columns>
            <columns large="3" small="2">&nbsp;</columns>
          </row>
          <p class="text-center"><small>REDEEM IN-STORE: PRINT this coupon or DISPLAY on mobile device.</small></p>


        </center>
      </callout>
    </columns>

  </row>
  
  <!-- Nearest Store -->
  <row class="collapse">
    <columns class="collapse nearest-store">
      <spacer size="10"></spacer>
      <p class="text-center"><small><strong>YOUR NEAREST STORE:</strong><br>
        160 EL CAMINO REAL, REDWOOD CITY, CA 94063  I  PHONE 650.555.1212</small></p>
    </columns>
  </row>

  <!-- Rail-->
  <hr>

  <row class="collapse rail pad-0">
    <columns small="4" large="4" class="pad-0">
      <a href="#">
        <spacer size="5"></spacer>
        <img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_02.gif">
        <spacer size="10"></spacer>
      </a>
    </columns>
    <columns small="4" large="4" class="pad-0">
      <a href="#">
        <spacer size="5"></spacer><img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_03.gif">
        <spacer size="10"></spacer>
      </a>
    </columns>
    <columns small="4" large="4" class="pad-0">
      <a href="#">
        <spacer size="5"></spacer><img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_04.gif">
        <spacer size="10"></spacer>
      </a>
    </columns>
  </row>

  <hr>

  <!--Social-->
  <row class="collapse social">
    <columns small="12" large="4" class="first pad-0">

      <spacer height="25"></spacer>
      <p class="text-center"><small>&nbsp;&nbsp;&nbsp;&nbsp;JOIN THE CONVERSATION</small></p>
    </columns>
    <columns small="8" large="4" class="last text-center small-offset-2 pad-0">
      <row class="collapse text-center">
        <columns small="3" large="3">
          <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_05_2x.gif"></a>
        </columns>
        <columns small="3" large="3">
          <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_06_2x.gif"></a>
        </columns>
        <columns small="3" large="3">
          <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_07_2x.gif"></a>
        </columns>
        <columns small="3" large="3">
          <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_08_2x.gif"></a>
        </columns>
      </row>
    </columns>
    <columns small="12" large="4" class="last text-center pad-0">
      &nbsp;
    </columns>
  </row>

  <!-- Legal -->
  <row class="legal">
    <columns small="12" large="12">
      <spacer size="5"></spacer>
      <p><small style="color:#666666;">*NO PURCHASE NECESSARY TO ENTER OR WIN; MAKING A PURCHASE WILL NOT IMPROVE ONE&rsquo;S CHANCES FOR WINNING. Open to Legal U.S. residents (excluding Puerto Rico and other territories and possessions) who are 18 years of age or older. Void where prohibited. Prize is a $10,000 check. Sweepstakes runs from January 1, 2017 through February 28, 2017. See Official Rules in the store or at josbankformal.com/honeymoon for complete details and alternative means of entry.
<br/><br/>
**$40 Off Each Tuxedo Rental Package for Your Wedding Party. You must present this coupon in-store to receive $40 off each rental package for your wedding party. This offer is valid only on new wedding bookings and upon placement of the group rental deposit of $40 ("Deposit"). With 5 paid tuxedo rental packages (which must include coat and pants, rental shirt, rental tie and cummerbund or retail tie and rental jewelry), choose between (1) retail offer of up to $500 off one regular-priced retail tuxedo, OR (2) rental offer of one free Rental Package, which must be the same coat and pants style as the paid Rental Packages, with a maximum value of $239.99. With 10 paid Rental Packages, select an additional free Rental Package of the same coat and pants style. Fees, taxes, and additional/upgraded and/or retail items cost extra on Rental Packages; alterations, taxes, and optional retail items cost extra for retail offer. Retail offer not valid on shoes or custom items. The couple must select retail or rental offer at time of new booking; offer selection is final and subject to change or discontinuation without notice. Offer may not be combined with other discounts or offers, including Bank Account(tm) rewards program discount; may not be redeemed for cash or credit; and is not redeemable online. Offer does not apply to Joseph &amp; Feiss boys&rsquo; suit rentals, Calvin Klein 1865, CK 1870, Joseph &amp; Feiss 1191, J&amp;F 1872, J&amp;F 1974 and Wilke-Rodriguez 1892 tuxedo rental package styles. Other restrictions apply. See store for complete details. Expires 2.28.2017.</small></p>
      <spacer size="20"></spacer>
    </columns>

  </row>

  <!--Footer-->
  <menu>
    <item><small style="color:#666666;">&nbsp;&nbsp;&nbsp;&nbsp;Unsubscribe&nbsp;&nbsp;|</small></item>
    <item><small style="color:#666666;">&nbsp;&nbsp;Privacy Policy</small></item>
  </menu>
  <row>
    <columns small="12" large="12">
      <p><small style="color:#666666;">&#169; 2016 Jos. A. Bank
                <br /> Jos. A. Bank | 6100 Stevenson Blvd, Bldg A | Fremont, CA 94538</small> </p>
      <spacer size="10"></spacer>
    </columns>

  </row>
</container>