

<container>
  <!-- Header -->
  <row class="collapse">
    <columns small="12" large="12" class="text-center">
      <center>
        <spacer size="35"></spacer>
        <a href="#"><img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_01.gif"></a>
        <spacer size="10"></spacer>
      </center>
    </columns>
  </row>
  <!-- Horizontal Rule -->
  <row class="collapse">
    <columns small="12" large="12" class="collapse">
      <hr>
    </columns>
  </row>
  <!-- Hero -->
  <row class="collapse">
    <columns>
      <spacer size="15"></spacer>

      <center>
        <p class="text-center" style="font-size:18px;"><a href="#">Finish registering now</a> to claim your coupon
          <br style="hide-for-small" />before it's too late.</p>
        <a href="#"><img class="retina" src="http://f.e.menswearhouse.com/i/48/2089524253/17-816507_JABT_JanFeb_AbandonCart_02.gif" alt="Book Your Rentals by 2/28 for a Chance to Win $10,000 For Your Perfect Honeymoon* And, Get $40 Off Each Tuxedo Rental**. Click to claim your coupon" width="600" style="max-width:600px;"></a>
        <a href="#"><img class="retina" src="http://f.e.menswearhouse.com/i/48/2089524253/17-816507_JABT_JanFeb_AbandonCart_03.jpg" alt="" width="600" style="max-width:600px;"></a>
      </center>

      <spacer size="26"></spacer>
    </columns>
  </row>

  <!-- Nearest Store -->
  <row class="collapse">
    <columns class="collapse nearest-store">
      <spacer size="2"></spacer>
      <p class="text-center"><small><strong>YOUR NEAREST STORE:</strong><br>
        160 EL CAMINO REAL, REDWOOD CITY, CA 94063  I  PHONE 650.555.1212</small></p>
    </columns>
  </row>
  
  <!-- Rail-->
  <hr>
  
  <row class="collapse rail pad-0">
    <columns small="4" large="4" class="pad-0">
      <a href="#">
        <spacer size="5"></spacer>
        <img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_02.gif">
        <spacer size="10"></spacer>
      </a>
    </columns>
    <columns small="4" large="4" class="pad-0">
      <a href="#">
        <spacer size="5"></spacer><img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_03.gif">
        <spacer size="10"></spacer>
      </a>
    </columns>
    <columns small="4" large="4" class="pad-0">
      <a href="#">
        <spacer size="5"></spacer><img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_04.gif">
        <spacer size="10"></spacer>
      </a>
    </columns>
  </row>

  <hr>

  <!--Social-->
  <row class="collapse social">
    <columns small="12" large="4" class="first pad-0">

      <spacer height="25"></spacer>
      <p class="text-center"><small>&nbsp;&nbsp;&nbsp;&nbsp;JOIN THE CONVERSATION</small></p>
    </columns>
    <columns small="8" large="4" class="last text-center small-offset-2 pad-0">
      <row class="collapse text-center">
        <columns small="3" large="3">
          <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_05_2x.gif"></a>
        </columns>
        <columns small="3" large="3">
          <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_06_2x.gif"></a>
        </columns>
        <columns small="3" large="3">
          <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_07_2x.gif"></a>
        </columns>
        <columns small="3" large="3">
          <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_08_2x.gif"></a>
        </columns>
      </row>
    </columns>
    <columns small="12" large="4" class="last text-center pad-0">
      &nbsp;
    </columns>
  </row>

  <!-- Legal -->
  <row class="legal">
    <columns small="12" large="12">
      <spacer size="5"></spacer>
      <p><small style="color:#666666;">*$40 Off Each Tuxedo or Suit Rental Package for Your Wedding Party. You must present this coupon in-store to receive $40 off each rental package for your wedding party. This offer is valid only on new wedding bookings and upon placement of the group rental deposit of $40 ("Deposit"). With 5 paid tuxedo rental packages (which must include coat and pants, rental shirt, rental tie and cummerbund or retail tie and rental jewelry) or suit rental packages (which must include coat and pants, rental shirt and rental vest) ("Rental Package"), choose between (1) retail offer of up to $500 off one regular-priced retail tuxedo or suit, OR (2) rental offer of one free Rental Package, which must be the same coat and pants style as the paid Rental Packages, with a maximum value of $229.99. With 10 paid Rental Packages, select an additional free Rental Package of the same coat and pants style. Fees, taxes, and additional/upgraded and/or retail items cost extra on Rental Packages; alterations, taxes, and optional retail items cost extra for retail offer. Retail offer not valid on shoes or custom items. The couple must select retail or rental offer at time of new booking; offer selection is final and subject to change or discontinuation without notice. Offer may not be combined with other discounts or offers, including Bank AccountTM rewards program discount; may not be redeemed for cash or credit; and is not redeemable online. Offer does not apply to Joseph &amp; Feiss boys' suit rentals. Other restrictions apply. See store for details. Expires 9.14.2016.<br><br>
**NO PURCHASE OR PAYMENT NECESSARY TO ENTER OR WIN THIS SWEEPSTAKES. PURCHASING OR MAKING A PAYMENT DOES NOT IMPROVE YOUR CHANCES OF WINNING. Sweepstakes runs from September 1-14, 2016. Open to legal residents of 50 United States and DC (excluding territories and possessions), 18 years of age or older. Prize is a $2,500 VISA gift card. Void where prohibited. See Official Rules in store or at josbankformal.com/music for complete details, terms and conditions, including alternative means of entry.</small></p>
      <spacer size="20"></spacer>
    </columns>

  </row>

  <!--Footer-->
  <menu>
    <item><small style="color:#666666;">&nbsp;&nbsp;&nbsp;&nbsp;Unsubscribe&nbsp;&nbsp;|</small></item>
    <item><small style="color:#666666;">&nbsp;&nbsp;Privacy Policy</small></item>
  </menu>
  <row>
    <columns small="12" large="12">
      <p><small style="color:#666666;">&#169; 2016 Jos. A. Bank
                <br /> Jos. A. Bank | 6100 Stevenson Blvd, Bldg A | Fremont, CA 94538</small> </p>
      <spacer size="10"></spacer>
    </columns>

  </row>
</container>