--- subject: My Email Subject ---

<!--Content Swap Example -->
<container>
 
    <row class="collapse">
        <columns small="12" large="12">
           <img border="0" width="" height="" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_16609829-_TESTVERSION_05.jpg" alt="" style="display:block; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;" class="jh-hide-for-mobile">
        </columns>
    </row>
   
    <row class="collapse">
        <columns small="12" large="12">
            <div style="display:none; font-size:0; line-height:0; mso-hide: all; max-height: 0; max-width: 0; width:0; height:0; opacity:0; overflow:hidden;" class="jh-show-for-mobile">
            <img border="0" width="" height="" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_16609829-_TESTVERSION_05_MOBILE.jpg" alt="" style="display:none; font-size:0; line-height:0; mso-hide: all; max-height: 0; max-width: 0; width:0; height:0; opacity:0; overflow:hidden;" class="jh-show-for-mobile"></div>
        </columns>
    </row>

</container>