    <!-- Legal -->
    <row class="legal">
        <columns small="12" large="12">
            <p><small>*$40 Off Each Tuxedo or Suit Rental Package for Your Wedding Party. You must present this coupon in-store to receive $40 off each rental package for your wedding party. This offer is valid only on new wedding bookings and upon placement of the group rental deposit of $40 ("Deposit"). With 5 paid tuxedo rental packages (which must include coat and pants, rental shirt, rental tie and cummerbund or retail tie and rental jewelry) or suit rental packages (which must include coat and pants, rental shirt and rental vest) ("Rental Package"), choose between (1) retail offer of up to $500 off one regular-priced retail tuxedo or suit, OR (2) rental offer of one free Rental Package, which must be the same coat and pants style as the paid Rental Packages, with a maximum value of $229.99. With 10 paid Rental Packages, select an additional free Rental Package of the same coat and pants style. Fees, taxes, and additional/upgraded and/or retail items cost extra on Rental Packages; alterations, taxes, and optional retail items cost extra for retail offer. Retail offer not valid on shoes or custom items. The couple must select retail or rental offer at time of new booking; offer selection is final and subject to change or discontinuation without notice. Offer may not be combined with other discounts or offers, including Bank AccountTM rewards program discount; may not be redeemed for cash or credit; and is not redeemable online. Offer does not apply to Joseph &amp; Feiss boys' suit rentals. Other restrictions apply. See store for details. Expires 9.14.2016.<br><br>
**NO PURCHASE OR PAYMENT NECESSARY TO ENTER OR WIN THIS SWEEPSTAKES. PURCHASING OR MAKING A PAYMENT DOES NOT IMPROVE YOUR CHANCES OF WINNING. Sweepstakes runs from September 1-14, 2016. Open to legal residents of 50 United States and DC (excluding territories and possessions), 18 years of age or older. Prize is a $2,500 VISA gift card. Void where prohibited. See Official Rules in store or at josbankformal.com/music for complete details, terms and conditions, including alternative means of entry.</small></p>
            <spacer size="20"></spacer>
        </columns>

    </row>
