<!-- Rail-->
<row class="collapse rail pad-0">

  <columns small="12" large="4" class="pad-0">
    <a href="#">
      <spacer size="5"></spacer>
      <img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_02.gif">
      <spacer size="15"></spacer>
    </a>
  </columns>
  <columns small="12" large="4" class="pad-0">
    <a href="#">
      <spacer size="5"></spacer><img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_03.gif">
      <spacer size="15"></spacer>
    </a>
  </columns>
  <columns small="12" large="4" class="pad-0">
    <a href="#">
      <spacer size="5"></spacer><img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_04.gif">
      <spacer size="15"></spacer>
    </a>
  </columns>
</row>