<!-- Rail-->
<hr>
<row class="collapse rail pad-0">
  <columns small="12" large="4" class="pad-0">
    <a href="#">
      <spacer size="5"></spacer>
      <img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_02.gif">
      <spacer size="10"></spacer>
    </a>
  </columns>
  <columns small="12" large="4" class="pad-0">
    <a href="#">
      <spacer size="5"></spacer><img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_03.gif">
      <spacer size="10"></spacer>
    </a>
  </columns>
  <columns small="12" large="4" class="pad-0">
    <a href="#">
      <spacer size="5"></spacer><img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_04.gif">
      <spacer size="10"></spacer>
    </a>
  </columns>
</row>

<hr>
<!-- Nearest Store -->
<row class="collapse">
  <columns class="collapse nearest-store">
   <spacer size="10"></spacer>
    <p class="text-center"><small><strong>YOUR NEAREST STORE:</strong><br>
        160 EL CAMINO REAL, REDWOOD CITY, CA 94063  I  PHONE 650.555.1212</small></p>
  </columns>
</row>
<hr>
<!--Social-->
<row class="collapse social">
  <columns small="12" large="4" class="first pad-0">
   
    <spacer height="25"></spacer>
    <p class="text-center"><small>&nbsp;&nbsp;&nbsp;&nbsp;JOIN THE CONVERSATION</small></p>
  </columns>
  <columns small="8" large="4" class="last text-center small-offset-2 pad-0">
    <row class="collapse text-center">
      <columns small="3" large="3">
        <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_05_2x.gif"></a>
      </columns>
      <columns small="3" large="3">
        <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_06_2x.gif"></a>
      </columns>
      <columns small="3" large="3">
        <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_07_2x.gif"></a>
      </columns>
      <columns small="3" large="3">
        <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_08_2x.gif"></a>
      </columns>
    </row>
  </columns>
  <columns small="12" large="4" class="last text-center pad-0">
    &nbsp;
  </columns>
</row>
