    <!-- Legal -->
    <row class="legal collapse">
        <columns small="12" large="12" class="text-center pad-0">
                       <spacer size="10"></spacer>
            <p class="text-center margin-0"><small>Plus a chance to win $2,500 toward your wedding</small></p>
        </columns>

    </row>
