
    <!--Footer-->
    <menu>
        <item><small>&nbsp;&nbsp;&nbsp;&nbsp;Unsubscribe&nbsp;&nbsp;|</small></item>
        <item><small>Privacy Policy</small></item>
    </menu>
    <row>
        <columns small="12" large="12">
            <p><small>&#169; 2016 Men's Wearhouse
                <br /> Men's Wearhouse | 6100 Stevenson Blvd, Bldg A | Fremont, CA 94538</small> </p>
            <spacer size="20"></spacer>
        </columns>

    </row>