    <!-- Rail-->
    <row class="collapse rail">
        <columns small="12" large="4">
            <a href="#"><img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_02.gif"></a>
        </columns>
        <columns small="12" large="4">
            <a href="#"><img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_03.gif"></a>
        </columns>
        <columns small="12" large="4">
            <a href="#"><img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_04.gif"></a>
        </columns>
    </row>
