<!-- Nearest Store -->
    <row class="collapse">
        <columns class="collapse nearest-store">
            <p class="text-center"><small><strong>YOUR NEAREST STORE:</strong><br>
        160 EL CAMINO REAL, REDWOOD CITY, CA 94063  I  PHONE 650.555.1212</small></p>
        </columns>
    </row>