/* custom footer module styles */

.social img {
  padding: 5px 0;
}

@media only screen and (max-width: 580px) {
  .social img.retina {
    max-width: 100px !important;
    width: 100% !important;
  }
}

.nearest-store {
  padding-top: 10px;
}

.legal p {
  color: #666666;
}

.rail img {
  padding: 0;
}

table.menu td.menu-item,
table.menu th.menu-item {
  padding: 0;
}

table.menu td.menu-item,
table.menu th.menu-item img {
  padding: 20px 0;
}

td.columns,
td.column,
th.columns,
th.column.pad-0 {
  padding: 0;
}