<container>
  <!-- Header -->
  <row class="collapse">
    <columns small="12" large="12" class="text-center">
      <center>
        <spacer size="35"></spacer>
        <a href="https://tuxedo.menswearhouse.com/?cm_mmc=cheetahmail_mwt-_-email_mktg-_-20170223_REG_17-825299_Dec_Wed_Promo-_-Logo&cust=%%email%%&&COUPON_CODE_1=%%COUPON_CODE_1%%"><img class="text-center" width="280" style="max-width:280px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_01.gif"></a>
        <spacer size="15"></spacer>
      </center>
    </columns>
  </row>
  <!-- Hero -->
  <!-- purple background -->
  <row background="http://f.e.menswearhouse.com/i/48/2089524253/20160223_17-825299_MWT_JanFebBridalMktg_EM_02.gif" class="collapse" style="background-color:#4a2d5d;">
    <columns large="1" small="1" class="">
      &nbsp;
    </columns>
    <columns large="10" small="10" class="small-padding-collapse">
      <spacer size="25"></spacer>

      <center>
        <p class="text-center" style="font-size:18px; color: #fff;">Last Chance to Enter!</p>
        <spacer size="15"></spacer>
        <row class="collapse">

          <!-- Nested Gray Box -->
          <columns style="background-color:#dad9d7">
            <a href="https://tuxedo.menswearhouse.com/wedding-tuxedo-prestyled-looks?cm_mmc=cheetahmail_mwt-_-email_mktg-_-20170223_REG_17-825299_Dec_Wed_Promo-_-RentNow&cust=%%email%%&&COUPON_CODE_1=%%COUPON_CODE_1%%">
              <center>
                <spacer size="25"></spacer>
                <small><p class="text-center" style="font-size:14px;">Book online or in-store by 2/28 to be entered to</p></small>
                <spacer size="5"></spacer>
                <img class="retina" width="357" style="max-width:357px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160223_17-825299_MWT_JanFebBridalMktg_EM_01.gif" alt="Win $25,000 toward your dream wedding.">
                <spacer size="25"></spacer>
              </center>
            </a>
          </columns>
        </row>
        <spacer size="25"></spacer>
        <!-- Nested CTAs -->
        <row class="collapse">
          <columns large="1" small="12" class="hide-for-small"> 
            &nbsp;
          </columns>
          <columns large="3" small="12">
            <a href="https://tuxedo.menswearhouse.com/wedding-tuxedo-prestyled-looks?cm_mmc=cheetahmail_mwt-_-email_mktg-_-20170223_REG_17-825299_Dec_Wed_Promo-_-RentNow&cust=%%email%%&&COUPON_CODE_1=%%COUPON_CODE_1%%">
              <p class="text-center cta-white">RENT NOW</p>
            </a>
          </columns>
          <columns large="4" small="12">
            <a href="https://tuxedo.menswearhouse.com/wedding-tuxedo-prestyled-looks?cm_mmc=cheetahmail_mwt-_-email_mktg-_-20170223_REG_17-825299_Dec_Wed_Promo-_-ShopStyles&cust=%%email%%&&COUPON_CODE_1=%%COUPON_CODE_1%%">
              <p class="text-center cta-white">SHOP STYLES</p>
            </a>
          </columns>
          <columns large="3" small="12">
            <a href="https://tuxedo.menswearhouse.com/storeLocator.do?cm_mmc=cheetahmail_mwt-_-email_mktg-_-20170223_REG_17-825299_Dec_Wed_Promo-_-FindAStore&cust=%%email%%&&COUPON_CODE_1=%%COUPON_CODE_1%%">
              <p class="text-center cta-white">FIND A STORE</p>
            </a>
          </columns>
          <columns large="1" small="12" class="hide-for-small">
            &nbsp;
          </columns>
        </row>
      </center>
    </columns>
    <columns large="1" small="1" class="">
      &nbsp;
    </columns>
  </row>


  <spacer size="15"></spacer>


  <!-- Hero 2 -->
  <row class="collapse">
    <columns>
      <center>
        <a href="https://tuxedo.menswearhouse.com/wedding-tuxedo-prestyled-looks?cm_mmc=cheetahmail_mwt-_-email_mktg-_-20170223_REG_17-825299_Dec_Wed_Promo-_-RentNow&cust=%%email%%&&COUPON_CODE_1=%%COUPON_CODE_1%%">
          <center>
            <img class="retina" width="580" style="max-width:580px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160223_17-825299_MWT_JanFebBridalMktg_EM_03.jpg" alt="Plus, Get $40 OFF TUX OR SUIT RENTALs and a $400 shopping spree (or a free rental) with 5 paid packages">
          </center>
        </a>

      </center>
    </columns>
  </row>

  <spacer size="25"></spacer>

  <!-- Offer -->
  <row class="collapse">
    <columns large="1" small="1">
      &nbsp;
    </columns>
    <columns large="10" small="10">


      <p class="text-center"><b>OFFER DETAILS</b>
        <br>
        <small>Book by 2/28</small></p>
      <ul>
        <li>
          <small><b>$40 OFF</b> tuxedo or suit rentals in your party</small>
        </li>
        <li>
          <small><b>$400 SHOPPING SPREE</b> or <b>FREE RENTAL</b> with 5 paid packages</small>
        </li>
        <li>
          <small>And a chance to <b>WIN $25,000</b> for your dream wedding</small>
        </li>
      </ul>

    </columns>
    <columns large="1" small="1">
      &nbsp;
    </columns>
  </row>


  <spacer size="5"></spacer>


  <!-- Save To Phone -->
  <row class="collapse">
    <columns>

      <hr>
      <a href="#">
        <center><img width="320" style="max-width:320px" src="http://f.e.menswearhouse.com/i/48/2089524253/2017-save-to-phone.gif" alt="Save To Phone" /></center>
      </a>
      <hr>
    </columns>
  </row>


  <!-- Dynamic Coupon -->
  <row class="collapse pad-0">
    <columns large="6" small="12" valign="bottom">
      <p class="text-center" style="line-height:1.2em;">
        <small><b>Redeem in-store:</b><br> Print this coupon OR display<br> on mobile device.</small>
      </p>
      <p class="text-center">
        <small>Confirmation ID: <b>1234567890</b></small>
      </p>
    </columns>
    <columns large="6" small="12" valign="bottom">
      <center>
        <img src="http://f.e.menswearhouse.com/i/48/2089524253/barcode.gif" />

      </center>
      <p class="text-center">
        <small>Coupon Code: <b>1234567890</b></small>
      </p>
    </columns>
  </row>
  <!-- Thick horizontal rule -->
  <row>
    <columns style="border-top:solid 3px #000;" class="pad-0">
      &nbsp;
    </columns>
  </row>


  <!-- Legal -->
  <row class="legal">
    <columns small="12" large="12" style="padding-bottom:0px;">
      <p class="pad-0"><small style="line-height: 1.2em;
    color: #999999;
    font-size: 10px;">$25,000 Sweepstakes: NO PURCHASE NECESSARY to enter or win; purchase does not improve chances of winning. Open to legal U.S. residents (excluding Puerto Rico and U.S. territories) 18 years or older. Sweepstakes runs 1/1/2017 through 2/28/2017. Prize is a check for $25,000. Void where prohibited. See Official Rules in store and at menswearhouse.com/dreamwedding for complete details and alternative means of entry.
<br><br>
$40 Off Each Tuxedo or Suit Rental Package for Your Wedding Party: You must present this coupon in-store or enter your coupon code online to receive $40 off each rental package for your wedding party. This offer is valid only on new wedding bookings. Online reservations do not require a deposit, however, in-store reservations require placement of the group rental deposit of $40 (&ldquo;Deposit&rdquo;). With 5 paid tuxedo rental packages (which must include coat and pants, rental shirt, rental tie and cummerbund or retail tie and rental jewelry) or suit rental packages (which must include coat and pants, rental shirt and rental vest) (&ldquo;Rental Package&rdquo;), choose between (1) retail offer of $400 shopping credit on a single retail purchase except shoes, Exceptional Value and custom items, OR (2) rental offer of one free Rental Package with a maximum value of $239.99. With 10 paid Rental Packages, select an additional free Rental Package. Fees, taxes and additional/upgraded and/or retail items cost extra on Rental Packages. Retail offer discount will be applied to the regular price of applicable items; may be used once; any unused portion of the credit shall be forfeited; and may not be redeemed for cash or credit or on alterations, rental product, engraved gift purchases, gift cards and is not redeemable online. If returning items purchased with the retail offer, you will forfeit the amount of the coupon applied to those items; the Men&rsquo;s Wearhouse return policy will apply to the remainder of the purchase. The couple must select retail or rental offer at time of new booking; offer selection is final and subject to change or discontinuation without notice. Offer may not be combined with other discounts or offers, including Perfect Fit&reg; rewards program discount; and may not be redeemed for cash or credit. Offer does not apply to Joseph &amp; Feiss boys&rsquo; suit rentals, Calvin Klein 1865, CK 1870, Joseph &amp; Feiss 1191, J&amp;F 1872, J&amp;F 1974 and Wilke-Rodriguez 1892 tuxedo rental package styles. Other restrictions apply. See store for complete details. Coupon expires 2.28.2017.</small></p>
    </columns>

  </row>
  <spacer size="5"></spacer>
  <!-- Thick horizontal rule -->
  <row class="collapse">
    <columns style="border-top:solid 3px #000;" class="pad-0">
      &nbsp;
    </columns>
  </row>

  <!-- Footer -->
  <row>
    <columns large="9" small="12" valign="top">
      <p class="small-text-center" style="color:#666666; font-size:9px;">&#169; 2017 Men's Wearhouse 6380 Rogerdale Road, Houston, TX 77072
        <br>
        <a class="footer-cta" href="https://tuxedo.menswearhouse.com/contact-us?cm_mmc=cheetahmail_mwt-_-email_mktg-_-20170223_REG_17-825299_Dec_Wed_Promo-_-ContactUs&cust=%%email%%&&COUPON_CODE_1=%%COUPON_CODE_1%%">Contact us</a>
        <a class="footer-cta" href="http://www.menswearhouse.com/webapp/wcs/stores/servlet/ContentAttachmentView?contentName=MW4ABTprivacySecurity.html&catalogId=12004&top=&parent_category_rn=&categoryId=&langId=-1&storeId=12751?cm_mmc=cheetahmail_mwt-_-email_mktg-_-20170223_REG_17-825299_Dec_Wed_Promo-_-PrivacyPolicy&cust=%%email%%&&COUPON_CODE_1=%%COUPON_CODE_1%%">Privacy Policy</a>
        <a class="footer-cta" href="#">Unsubscribe</a> &nbsp;&nbsp;
      </p>
    </columns>
    <columns large="3" small="12" valign="top">
      <row>
        <columns large="1" small="1">
          &nbsp;
        </columns>
        <columns large="2" small="2">
          <a href="#"><img src="http://f.e.menswearhouse.com/i/48/2089524253/2017-social-twitter.gif" alt="Twitter" /></a>
        </columns>
        <columns large="2" small="2">
          <a href="#"><img src="http://f.e.menswearhouse.com/i/48/2089524253/2017-social-pinterest.gif" alt="Pinterest" /></a>
        </columns>
        <columns large="2" small="2">
          <a href="#"><img src="http://f.e.menswearhouse.com/i/48/2089524253/2017-social-facebook.gif" alt="Facebook" /></a>
        </columns>
        <columns large="2" small="2">
          <a href="#"><img src="http://f.e.menswearhouse.com/i/48/2089524253/2017-social-instagram.gif" alt="Instagram" /></a>
        </columns>
        <columns large="2" small="2">
          <a href="#"><img src="http://f.e.menswearhouse.com/i/48/2089524253/2017-social-youtube.gif" alt="Youtube" /></a>
        </columns>
        <columns large="1" small="1">
          &nbsp;
        </columns>
      </row>






    </columns>
  </row>
</container>