@import 'settings';
@import 'foundation';

@media only screen and (max-width: 580px) {
    .jh-show-for-mobile {
        display: table !important;
        max-height: none !important;
        max-width: none !important;
        line-height: 1.5 !important;
        width: 100% !important;
        height: auto !important;
        opacity: 1 !important;
    }
    .jh-hide-for-mobile {
        display: none !important;
        width: 0px !important;
        height: 0px !important;
        overflow: hidden !important;
        line-height: 0px !important;
        font-size: 0px !important;
    }
}
