<!--
--- subject: My Email Subject ---
-->

<!-- Main Area Content -->

<!-- Offer -->
<row class="collapse">
  <columns small="12" large="12">
    <center>
      <a href="#">
        <spacer size="10"></spacer>
        <p class="text-center" style="font-size:12px">Because you've shopped at David's Bridal, you can receive</p>
        <img class="text-center retina" width="365" style="max-width:512px;" src="http://f.e.menswearhouse.com/i/48/2089524253/20161101_16-752533_-JABT_Nov_Bridal_EM_01_2x.gif" alt="$40 Off Each Tuxedo Or Suit Rental*. Plus, A Free Suit To Keep With 5 Paid (Up To $500 Value)*. And a chance to win $2,500 toward your wedding**." />
        <spacer size="10"></spacer>
      </a>
    </center>

  </columns>
</row>



<!-- Dynamic Section -->
<row>
  <columns small="12" large="3">
    &nbsp;
    <!--Spacer-->
  </columns>
  <columns small="12" large="6">
    <center>
      <callout class="secondary dynamic-field text-center">COUPON CODE: 1234567890</callout>
    </center>
  </columns>
  <columns small="12" large="3">
    &nbsp;
    <!--Spacer-->
  </columns>
</row>
<row>
  <columns small="12" large="3">
    &nbsp;
    <!--Spacer-->
  </columns>
  <columns small="10" large="6">
    <center>
      <callout class="secondary dynamic-field text-center">CONFIRMATION ID: 1234567890</callout>
    </center>
  </columns>
  <columns small="12" large="3">
    &nbsp;
    <!--Spacer-->
  </columns>
</row>

<row>
  <columns small="12" large="12">
    <center>
      <spacer size="5"></spacer>
      <img src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_barcode.gif" alt="barcode image">
      <spacer size="15"></spacer>

    </center>
  </columns>
</row>
<row>

  <columns small="1" large="3">&nbsp;</columns>
  <columns small="10" large="6">
    <p class="text-center">PRINTER-FRIENDLY VERSION</p>
    <hr>
    <spacer size="10"></spacer>
  </columns>
  <columns small="1" large="3">&nbsp;</columns>
</row>

<row>
  <columns small="12" large="12">
    <h5 class="text-center"><strong>OFFER ENDS 9/14</strong></h5>
  </columns>
</row>


<row>
  <columns small="12" large="12">
    <p class="text-center" style="font-size:12px;"><strong>REDEEM IN-STORE: </strong>PRINT THIS COUPON OR DISPLAY ON MOBILE DEVICE.</p>
    <spacer size="10"></spacer>
  </columns>
</row>


<row>
  <columns small="12" large="12" class="text-center">

    <center>
      <button href="#" style="display:inline-block;">FIND A STORE</button>
    </center>
  </columns>
</row>


<!-- Photo -->
<row class="collapse">
  <columns small="12" large="12">
    <a href="#"><img class="retina" border="0" height="" width="600" style="max-width:600px;" src="http://f.e.menswearhouse.com/i/48/2089524253/20161101_16-752533_-JABT_Nov_Bridal_EM_02_2x.jpg" alt="Black Tie Music To Our Ears. Browse top colors, styles, and more. Click to Find Your Style." style="display:block; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;"></a>
    <spacer size="5"></spacer>
  </columns>
</row>